
body {
	padding: 0;
	margin: 0;
}
.slick-track {
	display: flex;
	align-items: flex-start;
}
.slick-list {
	overflow: hidden;
}



.slider, .slider2 {
	position: relative;
	padding: 0 35px;
}
.slider2 {
	padding: 0;
}
.slider .slick-arrow, .slider2 .slick-arrow  {
	position: absolute;
	top: 50%;
	z-index: 9999;
	font-size: 0;
	width: 30px;
	height: 60px;
	border: none;
	margin: -30px 0px 0px 0px;
	transition: 0.2s;
}
.slider .slick-arrow:focus, .slider2 .slick-arrow:focus, .slider__item:focus {
	outline: none;
}
.slider .slick-arrow:hover {
	filter: invert(100%);
}
.slider .slick-prev, .slider2 .slick-prev {
	left: 0;
	background: url('imgg/left.png') 0 0 / 100% no-repeat;
	filter: invert(70%);
}
.slider .slick-next, .slider2 .slick-next  {
	right: 0;
	background: url('imgg/right.png') 0 0 / 100% no-repeat;
	filter: invert(70%);
}

.slider .slick-dots, .slider2 .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 0px -50px;
	padding: 0;
	position: absolute;
	width: 100px;
	bottom: 0px;
	left: 50%; 
}
.slider .slick-dots li, .slider2 .slick-dots li{
	list-style: none;
}
.slider .slick-dots button, .slider2 .slick-dots button{
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	color: grey;
	border: none;
	margin: 5px;
}
.slider .slick-dots li.slick-active button, .slider2 .slick-dots li.slick-active button {
	background-color: yellow;
}
.slider .slick-arrow.slick-disabled, .slider2 .slick-arrow.slick-disabled {
	opacity: 0.5;
}
.sliders {
	width: 100%;
	position: relative;
	height: 500px;
}
.slider {
	min-height: 250px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}
.slider .slick-list {
	padding-bottom: 50px;
}
.sliderwrapper {
	box-sizing: border-box;
	padding-top: 60px;
	width: 50%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5);
}
.slider2wrapper{
	height: 500px;
}
.slider2 img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.sliderwrapper {
	text-align: center;
}
.sliderwrapper p, h1, h2 {
	color: yellow;
}
@media  (max-width: 1023px){
	.sliderwrapper {
		width: 65%;
	}
}
@media  (max-width: 600px){
	.sliderwrapper {
		width: 100%;
		position: relative;
		background-color: #282929;
	}
	.sliders, .sliderwrapper, .slider2wrapper, .slider2 img  {
		height: 250px;
	}
	.slider {
		min-height: 100px;
	}
	.sliderwrapper {
		padding-top: 0;
	}
	.sliderwrapper p, .sliderwrapper h1 {
		font-size: 12px;
	}
	.slick-dots, .slick-arrow {
		z-index: 9999;
	}
	.slider2 .slick-dots {
		bottom: 10px;
	}
}