/* Fonts settings */
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*Colors*/
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
h1:hover,
h2:hover,
p:hover,
strong:hover,
span:hover,
small:hover {
  cursor: default;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/* оформление форм*/
.form {
  /*подписи к полям*/
}
.form-input {
  display: block;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
}
.form label {
  position: absolute;
  background-color: #ffffff;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/* main */
.main {
  padding: 3rem 0 8rem;
  background: #ffffff url(../img/main-bg2.jpg) center center no-repeat;
  background-size: cover;
  /* Главна форма */
}
.main-content {
  margin-top: 14rem;
}
.main-content h1 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  background-color: #46b814;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  text-align: left;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /*заголовок формы*/
  /*Кнопка отправить заявку*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
.header {
  height: 7rem;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Обводка блоков и тень к ним*/
.form-input:focus {
  -webkit-box-shadow: 1px 1px 5px green;
          box-shadow: 1px 1px 5px green;
}
textarea:focus {
  outline: none;
}
/* оформление секции с преимуществами */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 6rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.slick-slide {
  outline: none;
}
.arrow {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/leftbtn.png) center no-repeat;
  background-size: 100%;
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.prev {
  background: url(../img/leftbtn.png) center no-repeat;
  left: 0;
  background-size: 100%;
}
.next {
  background: url(../img/rightbtn.png) center no-repeat;
  right: 0;
  background-size: 100%;
}
/*секция с ценами*/
.price {
  background-color: #46b814;
  /*оформление карточки с тарифами*/
}
.price-header-btn {
  margin-top: 0.8rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 60rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin-bottom: 2rem;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin: 3rem 0rem;
}
.price-block img {
  width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  min-height: 14rem;
  list-style-type: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 0.6rem;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: baseline;
  background: url(../img/gl.png) no-repeat center;
  background-size: 100%;
}
/*секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/bg.jpg) center center no-repeat;
  background-size: cover;
  /*форма обратной связи*/
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #46b814;
  left: 5rem;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.feedback-slider .media h5 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.4rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: none;
  border: none;
  background-size: 100%;
  background: center no-repeat;
}
.feedback-slider-btn img {
  width: 100%;
}
.feedback-form {
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 10rem;
  margin-top: 5rem;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 2px);
          transform: translate(-50%, 2px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
/*малюнка молотка*/
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.fotorama__arr--next {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/rightbtn.png) center no-repeat;
  background-size: 100%;
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.fotorama__arr--prev {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/leftbtn.png) center no-repeat;
  background-size: 100%;
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
/*схема работы*/
.scheme {
  background: #ffffff url(../img/scheme/bg.jpg) center center no-repeat;
  background-size: cover;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
}
.scheme-block p {
  font-size: 1.6rem;
}
.scheme img {
  margin-bottom: 2rem;
}
/*все на 100 включено*/
.all-inclusive {
  background-color: #ffffff;
}
.all-inclusive .media-body {
  min-height: 10rem;
  font-size: 1.3rem;
}
.all-inclusive .media-body h5 {
  padding-top: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  margin-right: 2rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
/*мы развеем все опасения*/
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 32rem;
  margin-left: -20rem;
}
.problems-list {
  margin-bottom: 2rem;
  border: 4px solid black;
  padding: 2rem;
  min-height: 40rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  font-size: 1.5rem;
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  margin-bottom: 3rem;
  position: relative;
  padding-left: 3.5rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/err.png) center no-repeat;
  background-size: 80%;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/gl.png) center no-repeat;
  background-size: 80%;
}
/*материалы*/
.materials {
  background: url(../img/materials/bg.jpg) center no-repeat;
  background-size: cover;
}
.materials-header {
  margin: 2rem 0 5rem;
  text-align: center;
}
.materials-slider {
  padding-top: 3rem;
}
.materials-link {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
.materials img {
  display: block;
  margin: 0 auto;
}
.materials-offer {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 5rem;
}
/*посмотрите как мы работаем*/
.tour {
  background: url(../img/tour/bgg.jpg) center center no-repeat;
  background-size: cover;
  border-top: solid 3rem white;
}
.tour-subtitle {
  font-size: 2.2rem;
}
.tour-button {
  font-size: 1.3rem;
}
.tour-content {
  margin-top: 10rem;
}
/*доп услуги*/
.upsell {
  background-color: #286b0a;
}
.upsell-block {
  text-align: center;
  color: #ffffff;
  min-height: 30rem;
}
.upsell-block p {
  font-size: 2rem;
}
.upsell-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 33rem;
}
/*Оформление модальных окон */
h4 {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  font-size: 1.2rem;
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -3rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 4rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
@media (max-width: 1199px) {
  .problems-list {
    min-height: 45rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .main-trigger {
    text-align: center;
    padding: 3rem;
  }
  .main-content {
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 3rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0rem;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: 15rem;
  }
  .problems-women {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
    padding: 2rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .main-content h1 {
    font-family: 'ProximaNova_bold', sans-serif;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 3rem;
  }
  .scheme {
    text-align: center;
  }
  .scheme-block {
    min-height: 25rem;
  }
}
